<!--font face = "arial"-->
  <!--font color="#625D5D"-->

        <section class="contact">
          <h3 class="contact-title">Contact us</h3><br>
          <ul>
            <!-- {% if site.social-twitter %}
              <li><a href="https://twitter.com/{{ site.social-twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            {% else %}
              <li><a href="https://twitter.com/eddash_training/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            {% endif %}
            
            {% if site.social-facebook %}
              <li><a href="https://facebook.com/{{ site.social-facebook }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            {% else %}
              <li><a href="https://facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            {% endif %} -->
            
            {% if site.social-github %}
              <li class="github"><a href="http://github.com/{{site.social-github}}" target="_blank"><i class="fa fa-github"></i></a></li>
            {% else %}
              <li class="github"><a href="https://github.com/UK-Space-LABS/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
            {% endif %}
            
            {% if site.social-linkedin %}
              <li class="linkedin"><a href="https://www.linkedin.com/{{site.social-linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            {% else %}
              <li class="linkedin"><a href="https://www.linkedin.com/groups/13616507/ " target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            {% endif %}
            
            {% if site.social-email %}
              <li class="email"><a href="mailto:{{site.social-email}}"><i class="fa fa-envelope-o"></i></a></li>
            {% else %}
              <li class="email"><a href="mailto:ukspacelabsengagement@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
            {% endif %}
            
          </ul><br>
        </section> <!-- End Section Contact -->
        <div class="center-footer">
          <span class="copyright">&copy; </span>
            {{ site.time | date: '%Y' }}
            <a href="https://uk-space-labs.github.io/ukspacelabs-website" target=“_blank”>The UK Space Life and Biomedical Sciences Association</a>
     
        </div>
    
     <!--/font-->
<!--/font-->
